<h4>Hello, <%= session[:player_name] %>!</h4>
<hr>

<h4>We've already shuffled the deck for you (<%= session[:deck].length %>)!</h4>
<h4>You have $<%= session[:player_pot] %>. How much would you like to bet?</h4>

<form action="/game" method="post">
  <input type="text" name="player_bet">
  <input type="submit" class="btn">
</form>

<a href='/player_turn' class='btn'>Lets play!</a>
