<h4>Welcome to Blackjack!</h4>
<hr>

<h4>Enter your name:</h4>

<form action='/set_name' method='post'>
  <input type='text' name='player_name'>
  <input type='submit' class='btn btn-success' value='All set!'>
</form>
